# Programming Challenge

# 1. Data input

In [1]:
import pandas as pd

Train_dataset = "TrainOnMe.csv"
Evaluate_dataset = "EvaluateOnMe.csv"

df_train = pd.read_csv(Train_dataset, index_col=0)
df_train.head()

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
0,Boborg,99.88558,-0.78795,-96.54505,-0.63323,199.67072,-89.64438,Slängpolskorgris,0.10388,1.36981,11.09455,-3.49487,True,451.15538
1,Jorgsuto,98.62823,-0.34918,-99.47730,-0.63830,198.40234,-90.70851,Hambogris,0.62187,-2.31829,8.87321,1.26229,True,443.40251
2,Atsutobob,98.07893,-0.29079,-98.13996,-0.68610,197.88585,-89.32786,Hambogris,-0.63982,1.15431,11.86206,2.73511,True,441.32469
3,Atsutobob,99.62099,-0.42186,-99.17242,-0.59933,199.39653,-88.84929,Slängpolskorgris,-1.15077,2.16860,9.87663,2.93509,True,448.51875
4,Boborg,99.96833,0.04647,-105.15302,-0.64502,199.75719,-90.55073,Slängpolskorgris,-0.51528,-1.49196,11.82138,-3.21950,True,447.26516

# 2. Data cleaning

First to examine if ther any missing values exists. If so, we need to handle them.

In [2]:
df_train.isnull().sum()

y      0
x1     0
x2     1
x3     1
x4     2
x5     1
x6     1
x7     2
x8     1
x9     1
x10    1
x11    1
x12    1
x13    1
dtype: int64

The missing values are seldom compared to the whole dataset, so we could try to drop them.

In [3]:
df_processed = df_train.dropna()
df_processed.shape

(998, 14)

# 3. Data processing

In [4]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 998 entries, 0 to 999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       998 non-null    object
 1   x1      998 non-null    object
 2   x2      998 non-null    float64
 3   x3      998 non-null    float64
 4   x4      998 non-null    float64
 5   x5      998 non-null    float64
 6   x6      998 non-null    float64
 7   x7      998 non-null    object
 8   x8      998 non-null    float64
 9   x9      998 non-null    float64
 10  x10     998 non-null    float64
 11  x11     998 non-null    float64
 12  x12     998 non-null    object
 13  x13     998 non-null    float64
dtypes: float64(10), object(4)
memory usage: 117.0+ KB

In [5]:
df_evaluate = pd.read_csv(Evaluate_dataset, index_col=0)

df_evaluate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1000 to 10999
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      10000 non-null  float64
 1   x2      10000 non-null  float64
 2   x3      10000 non-null  float64
 3   x4      10000 non-null  float64
 4   x5      10000 non-null  float64
 5   x6      10000 non-null  float64
 6   x7      10000 non-null  object
 7   x8      10000 non-null  float64
 8   x9      10000 non-null  float64
 9   x10     10000 non-null  float64
 10  x11     10000 non-null  float64
 11  x12     10000 non-null  bool
 12  x13     10000 non-null  float64
dtypes: bool(1), float64(11), object(1)
memory usage: 1.0+ MB

Comparing Trainset and Evaluate set, we could know that `x1` need to be float and `x12` need to be bool.

In [6]:
df_processed.describe(include="all")

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
count,998,998,998.000000,998.000000,998.000000,998.000000,998.000000,998,998.000000,998.000000,998.000000,998.000000,998,998.000000
unique,6,996,NaN,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,2,NaN
top,Boborg,99.88558,NaN,NaN,NaN,NaN,NaN,Slängpolskorgris,NaN,NaN,NaN,NaN,True,NaN
freq,420,2,NaN,NaN,NaN,NaN,NaN,359,NaN,NaN,NaN,NaN,997,NaN
mean,NaN,NaN,-0.007644,-99.946945,-0.653185,199.769720,-90.445589,NaN,-0.006893,-0.034184,11.015224,-0.395676,NaN,449.905938
std,NaN,NaN,0.730013,3.105700,0.031579,1.003122,1.821704,NaN,1.211136,1.228444,1.351808,2.216492,NaN,4.740663
min,NaN,NaN,-2.457140,-111.018930,-0.714320,196.718360,-96.716280,NaN,-5.396060,-5.341300,6.138430,-6.576440,NaN,436.182140
25%,NaN,NaN,-0.493363,-101.953780,-0.677063,199.074557,-91.619992,NaN,-0.707320,-0.738320,10.219328,-2.022160,NaN,446.693820
50%,NaN,NaN,-0.004680,-99.940945,-0.651600,199.754340,-90.342965,NaN,-0.021385,-0.030925,11.055555,-0.823380,NaN,449.807960
75%,NaN,NaN,0.466933,-97.814628,-0.630737,200.435847,-89.232978,NaN,0.656855,0.731315,11.878250,1.298115,NaN,452.922118
max,NaN,NaN,2.227130,-89.903210,-0.576050,203.175010,-84.031960,NaN,5.318710,5.673230,15.176510,6.069150,NaN,468.422060

In [7]:
df_processed['x1'].describe()

count          998
unique         996
top       99.88558
freq             2
Name: x1, dtype: object

In [8]:
is_valid_entry = pd.to_numeric(df_processed['x1'], errors="coerce").notnull()
df_processed = df_processed[is_valid_entry].copy()

df_processed['x1'] = pd.to_numeric(df_processed['x1'])
pd.options.display.float_format = '{:.5f}'.format
df_processed['x1'].describe()

count              998.00000
mean       10020040180.03601
std       316544468913.30634
min                 96.94035
25%                 99.29138
50%                 99.96169
75%                100.65103
max     10000000000000.37109
Name: x1, dtype: float64

We can see there are some obvious error data, so we need to delete them.

In [9]:
Q1 = df_processed['x1'].quantile(0.25)
Q3 = df_processed['x1'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_processed = df_processed[(df_processed['x1'] >= lower_bound) & (df_processed['x1'] <= upper_bound)]
df_processed['x1'].describe()

count   992.00000
mean     99.96618
std       0.98160
min      97.26435
25%      99.28877
50%      99.95660
75%     100.64513
max     102.65110
Name: x1, dtype: float64

By observing standard deviation of the rest float columns, they seem fine. Next we could check the object columns.

In [10]:
df_processed.y.unique()

array(['Boborg', 'Jorgsuto', 'Atsutobob', 'Bobborg', 'Jorggsuto',
       'Atsutoob'], dtype=object)

By comparing the name in the training and testing dataset, we could find some names just appear once and it is obvious that they are typo.

In [11]:
replacements = {'Bobborg': 'Boborg', 'Jorggsuto': 'Jorgsuto', 'Atsutoob': 'Atsutobob'}
df_processed['y'] = df_processed['y'].replace(replacements)
df_processed.y.unique()

array(['Boborg', 'Jorgsuto', 'Atsutobob'], dtype=object)

Then it's the same for `x7` and `x12`

In [12]:
df_processed.x7.unique()

array(['Slängpolskorgris', 'Hambogris', 'Schottisgris', 'Polkagris',
       'Polskorgris', 'Polkagriss', 'Schottisgriss'], dtype=object)

In [13]:
replacements = {'Polkagriss': 'Polkagris', 'Schottisgriss': 'Schottisgris'}
df_processed['x7'] = df_processed['x7'].replace(replacements)
df_processed.x7.unique()

array(['Slängpolskorgris', 'Hambogris', 'Schottisgris', 'Polkagris',
       'Polskorgris'], dtype=object)

In [14]:
df_processed.x12.unique()

array(['True', 'Ture'], dtype=object)

In [15]:
df_processed['x12'] = df_processed['x12'].replace("Ture", "True")
df_processed.x12.unique()

array(['True'], dtype=object)

As we said before,  we need to convert `x12` into bool type.

In [16]:
df_processed['x12'] = df_processed['x12'].apply(lambda x: x == "True")

In [17]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 992 entries, 0 to 999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   y       992 non-null    object
 1   x1      992 non-null    float64
 2   x2      992 non-null    float64
 3   x3      992 non-null    float64
 4   x4      992 non-null    float64
 5   x5      992 non-null    float64
 6   x6      992 non-null    float64
 7   x7      992 non-null    object
 8   x8      992 non-null    float64
 9   x9      992 non-null    float64
 10  x10     992 non-null    float64
 11  x11     992 non-null    float64
 12  x12     992 non-null    bool
 13  x13     992 non-null    float64
dtypes: bool(1), float64(11), object(2)
memory usage: 109.5+ KB

In [18]:
df_processed.describe(include="all")

,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13
count,992,992.00000,992.00000,992.00000,992.00000,992.00000,992.00000,992,992.00000,992.00000,992.00000,992.00000,992,992.00000
unique,3,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,1,NaN
top,Boborg,NaN,NaN,NaN,NaN,NaN,NaN,Slängpolskorgris,NaN,NaN,NaN,NaN,True,NaN
freq,419,NaN,NaN,NaN,NaN,NaN,NaN,359,NaN,NaN,NaN,NaN,992,NaN
mean,NaN,99.96618,-0.01251,-99.94269,-0.65319,199.76002,-90.44274,NaN,-0.00654,-0.03390,11.00804,-0.39990,NaN,449.85955
std,NaN,0.98160,0.72803,3.10306,0.03154,0.98199,1.82205,NaN,1.21357,1.22882,1.35180,2.20961,NaN,4.64228
min,NaN,97.26435,-2.45714,-111.01893,-0.71432,197.07890,-96.71628,NaN,-5.39606,-5.34130,6.13843,-6.57644,NaN,436.81114
25%,NaN,99.28877,-0.49499,-101.95018,-0.67712,199.07405,-91.61394,NaN,-0.70798,-0.73666,10.21109,-2.01634,NaN,446.68507
50%,NaN,99.95660,-0.00832,-99.94094,-0.65160,199.75020,-90.33850,NaN,-0.02773,-0.02944,11.04175,-0.82600,NaN,449.78089
75%,NaN,100.64513,0.46279,-97.81536,-0.63068,200.43315,-89.22758,NaN,0.66169,0.72849,11.87261,1.28137,NaN,452.90313
max,NaN,102.65110,2.22713,-89.90321,-0.57605,202.45547,-84.03196,NaN,5.31871,5.67323,15.17651,6.06915,NaN,462.23158

# 4. Data converting and modeling

The training dataset is so small, so we don't want to divide it into trainset and testset. Instead, we apply cross validation method.

In [19]:
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.preprocessing import OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier, BaggingClassifier, \
GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import RidgeClassifierCV

RANDOM_STATE = 6

X = df_processed.drop('y', axis=1)
y = df_processed.y

numerical_features = X.select_dtypes(include=['float64']).columns
categorical_features = X.select_dtypes(include=['object', 'bool']).columns

numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler()),  
    ('pca', PCA(n_components=11)),  
])

categorical_transformer = Pipeline(steps=[
    ('encoder', OrdinalEncoder()),  
])

preprocessor = ColumnTransformer(transformers=[
    ('num', numerical_transformer, numerical_features),
    ('cat', categorical_transformer, categorical_features)
])

classifiers = {
    "Decision tree": DecisionTreeClassifier(),
    "Random forest": RandomForestClassifier(random_state=RANDOM_STATE),
    "Gradient Boosting": GradientBoostingClassifier(random_state=RANDOM_STATE),
    "Extremely random forest": ExtraTreesClassifier(random_state=RANDOM_STATE),
    "Adaboost": AdaBoostClassifier(),
    "Bagging": BaggingClassifier(random_state=RANDOM_STATE),
    "MLP": MLPClassifier(max_iter=5000, hidden_layer_sizes=(20, 20)),
    "SVM (rbf)": SVC(),
    "SVM (linear)": SVC(kernel="linear"),
    "SVM (polynomial)": SVC(kernel="poly"),
    "Ridge Classifier": RidgeClassifierCV()
}

best_classifiers = []
top_n = 3  
top_scores = [0] * top_n  
clf_names = [""] * top_n  

cv = StratifiedKFold(shuffle=True, random_state=RANDOM_STATE, n_splits=10)

for clf_name, clf in classifiers.items():
    pipeline = Pipeline(steps=[('preprocessor', preprocessor), ('classifier', clf)])
    
    cv_scores = cross_val_score(pipeline, X, y, cv=cv)  
    cv_score = np.average(cv_scores)

    print(f"{clf_name} scored {cv_score} during cross validation")
    
    for i in range(top_n):
        if cv_score > top_scores[i]:
            top_scores.insert(i, cv_score)
            top_scores.pop()
            clf_names.insert(i, clf_name)
            clf_names.pop()
            break

print("\nTop 3 models:")
for i in range(top_n):
    print(f"{i + 1}. {clf_names[i]} with a score of {top_scores[i]}")

Decision tree scored 0.7388787878787879 during cross validation
Random forest scored 0.8477070707070707 during cross validation
Gradient Boosting scored 0.8396868686868688 during cross validation
Extremely random forest scored 0.8517878787878788 during cross validation
Adaboost scored 0.754969696969697 during cross validation
Bagging scored 0.7973333333333333 during cross validation
MLP scored 0.7327575757575757 during cross validation
SVM (rbf) scored 0.7590505050505051 during cross validation
SVM (linear) scored 0.7106464646464646 during cross validation
SVM (polynomial) scored 0.7065858585858587 during cross validation
Ridge Classifier scored 0.6814141414141415 during cross validation

Top 3 models:
1. Extremely random forest with a score of 0.8517878787878788
2. Random forest with a score of 0.8477070707070707
3. Gradient Boosting with a score of 0.8396868686868688

Now, we can try some parameter tuning to improve the performances of the three best models and compare to get our final model.

In [20]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('forest_extra', ExtraTreesClassifier(random_state=RANDOM_STATE))])
params = {
    "forest_extra__n_estimators" : [50, 100, 200, 300],
    "forest_extra__max_depth" : [1, 5, 10, 20, None],
    "forest_extra__min_samples_leaf" : [1, 2, 3, 5]
}

extra_forest_grid = GridSearchCV(pipeline, param_grid=params, verbose=1, n_jobs=-1, cv=cv)
extra_forest_grid.fit(X, y)


best_params = extra_forest_grid.best_params_
best_score = extra_forest_grid.best_score_

print("Best Hyperparameters:", best_params)
print("Best Score:", best_score)

Fitting 10 folds for each of 80 candidates, totalling 800 fits
Best Hyperparameters: {'forest_extra__max_depth': 20, 'forest_extra__min_samples_leaf': 1, 'forest_extra__n_estimators': 300}
Best Score: 0.8648888888888889

In [33]:
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('forest', RandomForestClassifier(random_state=RANDOM_STATE))])

params = { 
 'forest__bootstrap': [True, False],
 'forest__max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'forest__max_features': ['auto', 'sqrt'],
 'forest__min_samples_leaf': [1, 2, 4],
 'forest__min_samples_split': [2, 5, 10],
 'forest__n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
}

forest_search = RandomizedSearchCV(pipeline, param_distributions=params, n_iter=120, verbose=1, n_jobs=-1, cv=cv)
forest_search.fit(X, y)

best_params = forest_search.best_params_
best_score = forest_search.best_score_

print("Best Hyperparameters:", best_params)
print("Best Score:", best_score)

Fitting 10 folds for each of 120 candidates, totalling 1200 fits
Best Hyperparameters: {'forest__n_estimators': 200, 'forest__min_samples_split': 2, 'forest__min_samples_leaf': 1, 'forest__max_features': 'auto', 'forest__max_depth': None, 'forest__bootstrap': False}
Best Score: 0.8658484848484849

In [22]:
pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                           ('gb', GradientBoostingClassifier(random_state=RANDOM_STATE))])
params = {
    "gb__n_estimators" : [50, 100, 200, 300],
    "gb__max_depth" : [5, 10, 20, None],
    "gb__learning_rate" : [0.1, 0.2, 0.01, 0.05],
}

gb_grid = GridSearchCV(pipeline, param_grid=params, verbose=1, n_jobs=-1, cv=cv)
gb_grid.fit(X, y)

best_params = gb_grid.best_params_
best_score = gb_grid.best_score_

print("Best Hyperparameters:", best_params)
print("Best Score:", best_score)

Fitting 10 folds for each of 64 candidates, totalling 640 fits
Best Hyperparameters: {'gb__learning_rate': 0.1, 'gb__max_depth': 5, 'gb__n_estimators': 300}
Best Score: 0.8507474747474746

It seems that the random forest performs best.

# 5. Evaluation

Use the best model to evaluate on the evaluate set.

In [34]:
estimator = forest_search.best_estimator_

In [36]:
predictions = estimator.predict(df_evaluate)

predictions

array(['Boborg', 'Atsutobob', 'Jorgsuto', ..., 'Boborg', 'Atsutobob',
       'Boborg'], dtype=object)

In [25]:
#estimator = extra_forest_grid.best_estimator_

In [26]:
#predictions = estimator.predict(df_evaluate)

#predictions

In [37]:
from os import linesep

Output = 'labels.txt'

with open(Output, 'w', encoding='utf-8') as f:
    for prediction in predictions:
        f.write(prediction + '\n')